.main-color-bg {
    background: $main-color;
}

.primary-color-background {
    background: $primary-bg-color;
}

.text-light {
    color: white;
}

.main-color {
    color: $main-color;
}

.third-bg-color {
    color: $third-bg-color;
}