$main-color:#7B68EE;
$primary-bg-color:#1E272E;
$second-bg-color:#2B343B;
$third-bg-color:#222A31;
$font-family: "Poppins";
$text-color:#FFF;
$second-text-color:rgb(182, 181, 181);
$font-size: 0.75em;